<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BCIs计算</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    <script src="https://unpkg.com/bootstrap-switch"></script>

    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>

    <script type="text/javascript">
        $(function () {
            /* 初始化控件 */
            $("#switch-state").bootstrapSwitch({
                onText: "ON",      // 设置ON文本
                offText: "OFF",    // 设置OFF文本
                onColor: "success",// 设置ON文本颜色     (info/success/warning/danger/primary)
                offColor: "info",  // 设置OFF文本颜色        (info/success/warning/danger/primary)
                size: "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)
                // 当开关状态改变时触发
                onSwitchChange: function (event, state) {
                    if (state == true) {
                        $("#PC_RC_Beam").show();
                        //alert("ON");
                    } else {
                        $("#PC_RC_Beam").hide();
                        //alert("OFF");
                    }
                }
            });
            $("#steel_struct_switch-state").bootstrapSwitch({
                onText: "ON",      // 设置ON文本
                offText: "OFF",    // 设置OFF文本
                onColor: "success",// 设置ON文本颜色     (info/success/warning/danger/primary)
                offColor: "info",  // 设置OFF文本颜色        (info/success/warning/danger/primary)
                size: "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)
                // 当开关状态改变时触发
                onSwitchChange: function (event, state) {
                    if (state == true) {
                        $("#steelStruct").show();
                        //alert("ON");
                    } else {
                        $("#steelStruct").hide();
                        //alert("OFF");
                    }
                }
            });

        });
    </script>
    <div id="VueBridge">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                请选择桥梁类型
            </div>
            <div class="col-md-1">
                <select v-model="bridgeSelected">
                    <option value="beam">梁桥</option>
                    <option value="cantileverSuspended">悬臂+挂梁</option>
                    <option value="truss">桁架桥</option>
                    <option value="rigid">刚构桥</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                {{ beamComponent }}<br />
                {{beamComponentWeights}}<br />
                {{beamSigmaDP1}}<br />
                beam_u1:{{beam_u1}}<br />
                beam_w1:{{beam_w1}}<br />
                SDP1:{{SDP1}}
            </div>
            <div class="col-md-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>桥梁分类</td>
                            <td>构件类型</td>
                            <td>比重</td>
                            <td>评价项</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 梁桥 -->

                        <tr v-show="isShow">
                            <!--v-show="{{setShowState(bridgeSelected)}}"-->

                            <td rowspan="2">梁桥</td>
                            <td>
                                <input id="beam_girder" name="beam_girder" value="beam_girder" type="checkbox" checked="checked" v-model="beamComponent" />主梁
                            </td>
                            <td>
                                <input type="text" value="6" v-model="beamGirderWeight" />
                            </td>
                            <td>
                                PC或RC梁式构件
                                <input id="switch-state" type="checkbox" checked="checked">、
                                钢结构物
                                <input id="steel_struct_switch-state" type="checkbox" checked="checked">
                            </td>
                        </tr>
                        <tr v-show="isShow">

                            <td>
                                <input id="beam_horizontal_ties" name="beam_horizontal_ties" value="beam_horizontal_ties" type="checkbox" checked="checked" v-model="beamComponent" />横向联系
                            </td>
                            <td>
                                <input type="text" value="4" v-model="beamHorizontalTiesWeight" />
                            </td>
                            <td>
                                <button>横向联系</button>
                                <button>钢结构物</button>
                            </td>

                        </tr>



                        <!-- 悬臂+挂梁 -->
                        <tr>
                            <td rowspan="4">悬臂+挂梁</td>
                            <td>
                                <input type="checkbox" checked="checked" />悬臂梁
                            </td>
                            <td>
                                <input type="text" value="6" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />挂梁
                            </td>
                            <td>
                                <input type="text" value="2" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>
                                <button>钢结构物</button>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />挂梁支座
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>支座</button>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />防落梁装置
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>防落梁装置</button>
                            </td>

                        </tr>
                        <!-- 桁架桥 -->

                        <tr>
                            <td rowspan="5">桁架桥</td>
                            <td>
                                <input type="checkbox" checked="checked" />桁片
                            </td>
                            <td>
                                <input type="text" value="5" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />主节点
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />纵梁
                            </td>
                            <td>
                                <input type="text" value="2" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />横梁
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />连接件
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- 评分等级、扣分表 -->
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>构件类型</td>
                            <td>损坏类型</td>
                            <td>定义</td>
                            <td>损坏评价标准</td>
                            <td>说明</td>
                            <td>扣分值</td>
                        </tr>
                    </thead>
                    <tbody id="PC_RC_Beam">
                        <!-- PC或RC梁式构件 -->
                        <tr>
                            <td rowspan="8">
                                PC或RC梁式构件
                            </td>
                            <td>表面裂缝</td>
                            <td>梁表面出现细微不规则裂缝</td>
                            <td></td>
                            <td>网状裂缝的总面积占整个梁底表面积的百分比</td>
                            <td><input v-model="beamDP1[0]" /></td>
                        </tr>
                        <tr>

                            <td>混凝土剥离</td>
                            <td>梁表面混凝土破裂脱落</td>
                            <td></td>
                            <td>混凝土剥离的总面积占整个梁底表面积的百分比</td>
                            <td><input v-model="beamDP1[1]" /></td>
                        </tr>
                        <tr>

                            <td>露筋锈蚀</td>
                            <td>梁表面混凝土脱落后露出内嵌的钢筋并且钢筋产生锈蚀</td>
                            <td></td>
                            <td>出现露筋锈蚀的总面积占整个梁底表而积的百分比</td>
                            <td><input type="text" v-model="beamDP1[2]" /></td>
                        </tr>
                        <tr>
                            <td>梁体下挠</td>
                            <td>梁体向下弯曲</td>
                            <td></td>
                            <td>“无”指梁体没有出现下挠;“轻微”指梁体出现轻微下挠但不超过允许值;“明显”指梁体明显下挠超过允许值</td>
                            <td><input type="text" v-model="beamDP1[3]" /></td>
                        </tr>
                        <tr>
                            <td>结构裂缝</td>
                            <td>梁体由于受力而产生的裂缝</td>
                            <td></td>
                            <td>“无”指没有出现结构裂缝;“明显”指结构裂缝宽度未超过允许限值;“严重”指结构裂缝宽度超过允许限值</td>
                            <td><input type="text" v-model="beamDP1[4]" /></td>
                        </tr>
                        <tr>
                            <td>裂缝处渗水</td>
                            <td>梁体裂缝处有渗水痕迹</td>
                            <td></td>
                            <td>“无”指裂缝处没有渗水痕迹;“轻微”指裂缝处轻微渗水，渗水痕迹面积不大且并不明显;“严重”指裂缝处严重渗水，渗水痕迹面积较大且非常明显</td>
                            <td><input type="text" v-model="beamDP1[5]" /></td>
                        </tr>
                        <tr>
                            <td>贯通横缝</td>
                            <td>与桥面道路中线大致垂直并且在横向可能贯通整个桥面的裂缝，有时伴有少量支缝</td>
                            <td></td>
                            <td>裂缝在垂直于桥面道路中线方向的贯通程度</td>
                            <td><input type="text" v-model="beamDP1[6]" /></td>
                        </tr>
                        <tr>
                            <td>梁体位移</td>
                            <td>梁体出现水平偏移和转动</td>
                            <td></td>
                            <td>“无”指梁体没有偏移或转动;“明显”指梁体出现偏移或转动;“严重”指梁体出现严重偏移或转动且存在落梁或倾覆的风险</td>
                            <td><input type="text" v-model="beamDP1[7]" /></td>
                        </tr>
                    </tbody>
                    <tbody id="steelStruct">
                        <!-- 钢结构物 -->
                        <tr>
                            <td rowspan="10">
                                钢结构物
                            </td>
                            <td>变色起皮</td>
                            <td>钢结构物表面油漆变色或漆皮隆起</td>
                            <td></td>
                            <td>变色起皮的总面积占整个钢结构物表面积的百分比</td>
                            <td><input type="text" v-model="beamDP1[8]" /></td>
                        </tr>
                        <tr>

                            <td>油漆剥落</td>
                            <td>钢结构物表面油漆剥落</td>
                            <td></td>
                            <td>剥落的总面积占整个钢结构物表面积的百分比</td>
                            <td><input type="text" v-model="beamDP1[9]" /></td>
                        </tr>
                        <tr>
                            <td>一般锈蚀</td>
                            <td>钢结构物表面出现锈斑</td>
                            <td></td>
                            <td>一般锈蚀的总面积占整个钢结构物表面积的百分比</td>
                            <td><input type="text" v-model="beamDP1[10]" /></td>
                        </tr>
                        <tr>
                            <td>严重锈蚀</td>
                            <td>钢结构出现易剥落的锈层或厚度明显变薄</td>
                            <td></td>
                            <td>严重锈蚀的总面积占整个钢结构物表面积的百分比</td>
                            <td><input v-model="beamDP1[11]" /></td>
                        </tr>
                        <tr>
                            <td>锈蚀成洞</td>
                            <td>钢结构物生锈并被洞穿</td>
                            <td></td>
                            <td>“无”指钢结构物没有出现锈蚀成洞；“局部”指钢结构物局部出现锈蚀成洞；“大量”指钢结构物出现大量的锈蚀成洞</td>
                            <td><input v-model="beamDP1[12]" /></td>
                        </tr>
                        <tr>
                            <td>焊缝裂纹</td>
                            <td>钢结构物上的焊缝出现裂纹</td>
                            <td></td>
                            <td>“无”指焊缝没有裂纹；“少量”指焊缝《10%裂缝；“严重”指>10%焊缝出现裂纹</td>
                            <td><input v-model="beamDP1[13]" /></td>
                        </tr>
                        <tr>
                            <td>焊缝开裂</td>
                            <td>钢结构物上的焊缝开裂</td>
                            <td></td>
                            <td>“无”指焊缝没有出现开裂；“少量”指焊缝&lt;10%开裂；“严重”指>10%焊缝出现开裂</td>
                            <td><input v-model="beamDP1[14]" /></td>
                        </tr>
                        <tr>
                            <td>铆钉损失</td>
                            <td>钢结构物上的铆钉损失或丢失</td>
                            <td></td>
                            <td>损失的铆钉数站所有铆钉总数的比例</td>
                            <td><input v-model="beamDP1[15]" /></td>
                        </tr>
                        <tr>
                            <td>螺栓松动</td>
                            <td>钢结构物上的螺栓出现松动</td>
                            <td></td>
                            <td>“无”指没有螺栓出现松动；“少量”指&lt;20%螺栓出现松动；“大量”指>20%螺栓出现松动</td>
                            <td><input v-model="beamDP1[16]" /></td>
                        </tr>
                        <tr>
                            <td>错位变形</td>
                            <td>钢梁、钢盖梁、钢墩台身因非正常变形，出现的扭曲、错位</td>
                            <td></td>
                            <td>“轻微”指弯曲翘曲不明显；“明显”指出现变形但不影响结构功能；“严重”指出现严重变形且影响结构功能</td>
                            <td><input v-model="beamDP1[17]" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



    </div>
    <script>
        const oriCoeffs = [0.30, 0.15, 0.25, 0.10, 0.10, 0.10];
        var calcCoeffs = oriCoeffs
        var vm = new Vue({
            el: '#VueBridge',
            data: {
                bridgeSelected: '',

                mainExists: [1, 1, 1, 1, 1, 1],
                coeffs: [0.30, 0.15, 0.25, 0.10, 0.10, 0.10],
                DP1: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],

                beamComponent: [],
                beamGirderWeight: 6,
                beamHorizontalTiesWeight: 4,

                //下标 0-17
                beamDP1: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,           //主梁,PC或RC梁式构件
                    0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],//主梁,钢结构物

                beamDP3: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],//横向联系,横向联系
                beamDP4: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],//横向联系,钢结构物

            },
            computed: {
                calcCoeffs: function () {
                    return [this.GetcalcCoeffs(0), this.GetcalcCoeffs(1), this.GetcalcCoeffs(2)
                        , this.GetcalcCoeffs(4), this.GetcalcCoeffs(4), this.GetcalcCoeffs(5)]
                },
                sigmaDP1: function () {
                    var sum = 0
                    for (i = 0; i < this.DP1.length; i++)
                        sum += this.DP1[i] * 1.0;
                    return sum.toFixed(3)
                },
                u1: function () {
                    return [this.DP1[0] / this.sigmaDP1, this.DP1[1] / this.sigmaDP1, this.DP1[2] / this.sigmaDP1
                        , this.DP1[3] / this.sigmaDP1, this.DP1[4] / this.sigmaDP1, this.DP1[5] / this.sigmaDP1
                        , this.DP1[6] / this.sigmaDP1, this.DP1[7] / this.sigmaDP1, this.DP1[8] / this.sigmaDP1, this.DP1[9] / this.sigmaDP1]
                },
                w1: function () {
                    return [this.getWeight(this.u1[0]), this.getWeight(this.u1[1]), this.getWeight(this.u1[2])
                        , this.getWeight(this.u1[3]), this.getWeight(this.u1[4]), this.getWeight(this.u1[5])
                        , this.getWeight(this.u1[6]), this.getWeight(this.u1[7]), this.getWeight(this.u1[8]), this.getWeight(this.u1[9])]
                },
                MDP1: function () {
                    var sum = 0
                    for (i = 0; i < this.DP1.length; i++)
                        sum += this.DP1[i] * this.w1[i] * 1.0;
                    return sum.toFixed(3)
                },
                showState: function (v) {
                    if (v == "beam")
                        return true;
                    else
                        return false;
                },
                isShow: function () {
                    if (this.bridgeSelected == "beam")
                        return true
                    else
                        return false
                },
                //损坏扣分值的总和
                beamSigmaDP1: function () {
                    var sum = 0
                    for (i = 0; i < this.beamDP1.length; i++)
                        sum += this.beamDP1[i] * 1.0;
                    return sum.toFixed(3)
                },
                //第[i]项(i>=0)表示第i+1项损坏的扣分值占所有损坏扣分值的比例
                beam_u1: function () {

                    var arr1 = this.beamDP1
                    var arr2 = this.beamSigmaDP1

                    var result = arr1.map(function (item) {
                        return item / arr2;
                    });

                    return result
                },
                //第[i]项(i>=0)表示第i+1项类构件的权重
                beam_w1: function () {

                    var arr1 = this.beam_u1

                    var result = arr1.map(function (u) {
                        return parseFloat(3.0 * u ** 3 - 5.5 * u ** 2 + 3.5 * u).toFixed(3);    //日后重构
                    });

                    return result
                },

                //构件综合扣分值,详见规范P18,4.5.4-4
                SDP1: function () {
                    var SDP = 0
                    for (i = 0; i < this.beamDP1.length; i++)
                        SDP += this.beamDP1[i] * this.beam_w1[i] * 1.0;
                    if (SDP < Math.max(...this.beamDP1))
                        SDP = Math.max(...this.beamDP1)
                    return SDP.toFixed(3)
                },

                //计算梁桥各个构件的权重
                beamComponentWeights: function () {
                    //初始化结果
                    var result = [0.0, 0.0]
                    var beamSum = 0.0
                    var beamGirderNume = 0.0
                    var beamHorizontalTiesNume = 0.0
                    //1、获取checkbox的状态
                    if ($.inArray('beam_girder', this.beamComponent) >= 0) {
                        beamSum = beamSum + this.beamGirderWeight
                        beamGirderNume = this.beamGirderWeight
                    }

                    if ($.inArray('beam_horizontal_ties', this.beamComponent) >= 0) {
                        beamSum = beamSum + this.beamHorizontalTiesWeight
                        beamHorizontalTiesNume = this.beamHorizontalTiesWeight
                    }

                    result = [beamGirderNume / beamSum, beamHorizontalTiesNume / beamSum]

                    return result
                },

            },
            function() {
                return {
                    items: [{
                        state: false
                    }, {
                        state: true
                    }]
                };
            },
            methods: {
                details: function () {
                    return this.site + " - 学的不仅是技术，更是梦想！";
                },
                testOutput: function (num) {
                    return parseFloat(num);
                },
                getWeight: function (u) {
                    return parseFloat(3.0 * u ** 3 - 5.5 * u ** 2 + 3.5 * u).toFixed(3);
                },
                GetcalcCoeffs: function (index) {
                    var sum = 0
                    for (i = 0; i < this.coeffs.length; i++)
                        sum += this.mainExists[i] * this.coeffs[i];
                    return (this.mainExists[index] * this.coeffs[index] / sum).toFixed(3);
                },
                toggle: function () {
                    this.isShow = !this.isShow;
                },
                setShowState: function (v) {
                    if (v == "beam")
                        return true
                    else
                        return false
                },

            }
        })

    </script>
</body>
</html>