<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BCIs计算</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    <script src="https://unpkg.com/bootstrap-switch"></script>

    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>


</head>
<body>
    <!-- bootstrap switch 必须引入的文件 -->
    <script src="BCISwitch.js"></script>

    <div id="VueBridge">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                请选择桥梁类型
            </div>
            <div class="col-md-1">
                <select v-model="bridgeSelected">
                    <option value="beam">梁桥</option>
                    <option value="cantileverSuspended">悬臂+挂梁</option>
                    <option value="truss">桁架桥</option>
                    <option value="rigid">刚构桥</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-md-1">
                {{beamComponentMatch}}<br />
                {{beamWeight}}<br />
                {{beamComponent}}<br />
                {{beamComponentWeights}}<br/>



            </div>
            <div class="col-md-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>桥梁分类</td>
                            <td>构件类型</td>
                            <td>比重</td>
                            <td>评价项</td>
                        </tr>
                    </thead>
                    <!-- 梁桥 -->
                    <tbody v-show="isShow">
                        <tr>
                            <td rowspan="2">梁桥</td>
                            <td>
                                <input id="beam01" value="beam01" type="checkbox" checked="checked" v-model="beamComponent" />主梁
                            </td>
                            <td>
                                <input type="text" value="6" v-model="beamWeight[0]" />
                            </td>
                            <td>
                                PC或RC梁式构件
                                <input id="switch-beamGirderPCRC" type="checkbox">、
                                钢结构物
                                <input id="switch-beamGirderSteel" type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="beam02" value="beam02" type="checkbox" checked="checked" v-model="beamComponent" />横向联系
                            </td>
                            <td>
                                <input type="text" value="4" v-model="beamWeight[1]" />
                            </td>
                            <td>
                                横向联系
                                <input id="switch-beamHTiesHTies" type="checkbox">、
                                钢结构物
                                <input id="switch-beamHTiesSteel" type="checkbox">
                            </td>

                        </tr>
                    </tbody>
                    <!-- 悬臂+挂梁 -->
                    <tbody v-show="cantileverSuspendedIsShow">

                        <tr>
                            <td rowspan="4">悬臂+挂梁</td>
                            <td>
                                <input id="cantileverSuspendedCantilever" value="cantileverSuspendedCantilever" type="checkbox" checked="checked"
                                       v-model="cantileverSuspendedComponent" />悬臂梁
                            </td>
                            <td>
                                <input value="6" />
                            </td>
                            <td>
                                PC或RC梁式构件
                                <input id="switch-cantileverSuspendedCantileverPCRC" value="cantileverSuspendedCantileverPCRC"
                                       type="checkbox" v-model="cantileverSuspendedComponent01">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="cantileverSuspendedSuspended" value="cantileverSuspendedSuspended" type="checkbox" checked="checked"
                                       v-model="cantileverSuspendedComponent" />挂梁
                            </td>
                            <td>
                                <input type="text" value="2" />
                            </td>
                            <td>
                                PC或RC梁式构件
                                <input id="switch-cantileverSuspendedSuspendedPCRC" type="checkbox">、
                                钢结构物
                                <input id="switch-cantileverSuspendedSuspendedSteel" type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input id="cantileverSuspendedSupport" value="cantileverSuspendedSupport" type="checkbox" checked="checked"
                                       v-model="cantileverSuspendedComponent" />挂梁支座
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                支座
                                <input id="switch-cantileverSuspendedSuspendedSupportSupport"
                                       type="checkbox">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input id="cantileverSuspendedFallprevent" value="cantileverSuspendedFallprevent" type="checkbox" checked="checked"
                                       v-model="cantileverSuspendedComponent" />防落梁装置
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                防落梁装置
                                <input id="switch-cantileverSuspendedFallpreventFallprevent"
                                       type="checkbox">
                            </td>

                        </tr>
                    </tbody>

                    <!-- 桁架桥 -->
                    <tbody v-show="trussIsShow">
                        <tr>
                            <td rowspan="5">桁架桥</td>
                            <td>
                                <input type="checkbox" checked="checked" />桁片
                            </td>
                            <td>
                                <input type="text" value="5" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />主节点
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />纵梁
                            </td>
                            <td>
                                <input type="text" value="2" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />横梁
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />连接件
                            </td>
                            <td>
                                <input type="text" value="1" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>

                    </tbody>

                    <!-- 刚构桥 -->
                    <tbody v-show="rigidIsShow">
                        <tr>
                            <td rowspan="2">刚构桥</td>
                            <td>
                                <input type="checkbox" checked="checked" />横向联系
                            </td>
                            <td>
                                <input value="8" />
                            </td>
                            <td>
                                <button>拱桥横向联系</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" checked="checked" />主梁
                            </td>
                            <td>
                                <input value="2" />
                            </td>
                            <td>
                                <button>PC或RC梁式构件</button>、
                                <button>钢结构物</button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

        <!-- 评分等级、扣分表 -->
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-9">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>构件类型</td>
                            <td>损坏类型</td>
                            <td>定义</td>
                            <td>损坏评价标准</td>
                            <td>说明</td>
                            <td>扣分值</td>
                        </tr>
                    </thead>

                    <!-- 梁-PC或RC梁式构件 -->
                    <tbody is="PC-RC-component" :vlu="beamDP11" :id="beamId[0]"></tbody>

                    <!-- 梁-钢结构物 -->
                    <tbody is="steel-component" :vlu="beamDP12" :id="beamId[1]"></tbody>

                    <!-- 梁-横向联系 -->
                    <tbody is="horizontal-ties-component" :vlu="beamDP21" :id="beamId[2]"></tbody>
                    <!-- 梁-钢结构物 -->
                    <tbody is="steel-component" :vlu="beamDP22" :id="beamId[3]"></tbody>

                    <!-- 悬臂+挂梁-悬臂梁-PC或RC梁式构件 -->
                    <tbody is="PC-RC-component" :vlu="cantileverSuspendedCantileverPCRCDP" :id="cantileverSuspendedBridgeId[0]" :v-show="isShowTest"></tbody>

                    <!-- 悬臂+挂梁-挂梁-PC或RC梁式构件 -->
                    <!--<tbody is="PC-RC-component" :vlu="cantileverSuspendedSuspendedPCRCDP" :id="cantileverSuspendedBridgeId[1]"></tbody>

                    <tbody is="steel-component" :vlu="cantileverSuspendedSuspendedSteelDP" :id="cantileverSuspendedBridgeId[2]"></tbody>
                    <tbody is="support-component" :vlu="cantileverSuspendedSuspendedSupportDP" :id="cantileverSuspendedBridgeId[3]"></tbody>
                    <tbody is="fallprevent-component" :vlu="cantileverSuspendedFallpreventFallpreventDP" :id="cantileverSuspendedBridgeId[4]"></tbody>-->
                    <!-- 悬臂+挂梁--挂梁支座 -->
                    <!-- 挂梁-防落梁装置 -->

                </table>
            </div>

        </div>

        <script src="BCICore.js"></script>


    </div>

</body>
</html>